/**
 * Color body and add background to clearly see layout.
 */
body {
  background-color: red;

  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

/**
 * Use #pseudobody in place of body.
 */
#pseudobody {
  /**
   * Create a 1em space between #pseudobody and body to clearly see layout.
   */
  left: 1em;
  top: 1em;
  right: 1em;
  bottom: 1em;
  
  padding: 1em;

  /**
   * Color #pseudobody and add background to clearly see layout.
   */
  background-color: green;
  
  border-style: dotted;
  border-color: white;
  border-width: 2px;
}

.bodypanel {
  background-color: blue;

  border-style: dashed;
  border-color: gray;
  border-width: 2px;
}

#bodycolumn {
  background-color: yellow;

  border-style: dashed;
  border-color: gray;
  border-width: 2px;
}

header.centerguard {
  background-color: cyan;

  border-style: solid;
  border-color: green;
  border-width: 5px;
}

main.centerguard {
  background-color: white;

  border-style: solid;
  border-color: black;
  border-width: 1px;
}

main.centerguard section {
  background-color: black;

  border-style: solid;
  border-color: blue;
  border-width: 2px;

  color: white;
}

footer.centerguard {
  background-color: magenta;

  border-style: solid;
  border-color: green;
  border-width: 5px;
}