#pseudobody {
	background-image: url("pattern (13).jpg");
	background-position: left top;
	background-repeat: repeat;
}

#bodycolumn {
	background-image: url("pattern (8).jpg");
	background-position: left top;
	background-repeat: repeat;
	border-left-style: solid;
	border-left-color: black;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;
}

header.centerguard, footer.centerguard {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

main.centerguard section {
	border-style: outset;
	border-color: gray;
	border-width: 3px;
}